.App {
  height: 100vh;
  display: flex;
  color: #3830FF;
}

.appAside {
  width: 50%;
  background-color: #3830FF;
  padding: 25px 40px;
  overflow: auto;
  color: #ffffff;
  font-family: Montserrat-Bold;
  font-size: 80px;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15%;
}


.appForm {
  width: 50%;
  background-color: #ffffff;
  padding: 25px 40px;
  overflow: auto;
}

.pageSwitch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.input100 {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.2;
  color: #333333;
  border: 1px solid #909096;
  display: block;
  width: 100%;
  background: #fff;
  height: 50px;
  border-radius: 12px;
  padding: 0 30px 0 53px;
  margin: 10px;
}

.login100-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20%;
}

.loginButton {
  font-family: Montserrat-Bold;
  font-size: 15px;
  border: 1px solid #909096;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  padding: 0 30px 0 53px;
  margin: 10px;
  background: #3830FF;
  color: #ffffff;
  cursor: pointer;
}


.toggleSwitch {
  background-color: #ffffff;
  color: #3830FF;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 3px 2px #d4dff2;
}

.toggleSwitchActive {
  background-color: #3830FF;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  /* box-shadow: 0px 3px 6px #d4dff2; */
}

.toggleSwitch:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.toggleSwitch:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.toggleSwitchActive:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.toggleSwitchActive:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.pokePadding{
  padding: 5%;
  width: 100%;
}

.gutter{
  margin: 5%;
  width: 150px;
  height: 150px;
}

.imgSize{
  width: 140px;
  height: auto;
  align-items: center;
}