.App {
  height: 100vh;
  display: flex;
  color: #3830FF;
}

.appAside {
  width: 50%;
  background-color: #3830FF;
  padding: 25px 40px;
  overflow: auto;
  color: #ffffff;
  font-family: Montserrat-Bold;
  font-size: 80px;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15%;
}


.appForm {
  width: 50%;
  background-color: #ffffff;
  padding: 25px 40px;
  overflow: auto;
}

.pageSwitch {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.input100 {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.2;
  color: #333333;
  border: 1px solid #909096;
  display: block;
  width: 100%;
  background: #fff;
  height: 50px;
  border-radius: 12px;
  padding: 0 30px 0 53px;
  margin: 100px;

}

.login100-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20%;
}

.loginButton {
  font-family: Montserrat-Bold;
  font-size: 15px;
  border: 1px solid #909096;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  padding: 0 30px 0 53px;
  margin: 10px;
  background: #3830FF;
  color: #ffffff;
  cursor: pointer;
}


.toggleSwitch {
  background-color: #ffffff;
  color: #3830FF;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 3px 2px #d4dff2;
  border-radius: 12px;

}

.toggleSwitchActive {
  background-color: #3830FF;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  /* box-shadow: 0px 3px 6px #d4dff2; */
}

.toggleSwitch{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.toggleSwitch:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.toggleSwitchActive:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.toggleSwitchActive:last-child {
  border-radius: 12px;
}


/* -----POKEMON CARD DESIGN-------- */

.card {
  display: -ms-flexbox;
/*   justify-content: space-between; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  width: 275px;
  height: 275px;
  margin: 10px;
  float: left;
  border: none;
  /* perspective: 500px; */
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.1); */
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: ffcb05;
  line-height: 300px;
  text-align: center;
  /* font-size: 60px; */
  /* border-radius: 50px; */
  backface-visibility: hidden;
}

.back {
  color: #2a75bb;
  transform: rotateY( 180deg );
  background-color:#ffcb05;
  font: small;
}

.titleCardBack{
  /* font-family: 'Times New Roman', Times, serif !important; */
  font-size: 25pt;
  font-weight: bold;
}

.pokeInfoCard{
  font-size: 16pt;
  font-weight: normal;
}

/* POKEMON CONTAINER */

.tradeButton{
 display: flex;

}